---
layout: default
title: CCGA for vibration based damage detection in truss structures
---

<h1> CCGA for VBDD </h1>

{% if paginator.page == 1 %}
<h3>Objectives</h3>
<ol>
  <li>To detect damage level in truss structure based on modal properties</li>
  <li>To detect damage with experimental noise</li>
</ol>

<h3>Draft</h3>
<ul>
  <li>Chapter 1</li>
  <li>Chapter 2</li>
  <li>Chapter 3</li>
  <li>Chapter 4</li>
  <li>Chapter 5</li>
  <li>References</li>
</ul>

<h3><a href="/vibration/results">Results</a></h3>
<p>Damage detection: without noise</p>
<ol>
  <li><a href="/vibration/results/r1.html">2D Rao, 2004</a></li>
  <li><a href="/vibration/results/r2.html">2D Kim, 2013</a></li>
  <li><a href="/vibration/results/r3.html">3D Kim, 2013</a></li>
</ol>
<p>With noise: 3% and 2% in \lambda and \phi, X 5 run each</p>
<ol>
  <li>2D Rao, 2004</li>
  <li>2D Kim, 2013</li>
  <li>3D Kim, 2013</li>
</ol>
{% endif %}

<h2>Notes</h2>
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <!--a href="/page{{ paginator.previous_page }}" class="previous">Previous</a-->
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">Newer</a>
  {% else %}    <span class="previous">Newer</span>  
  {% endif %}
  
  {% if paginator.next_page %}    
    <!--a href="/page{{ paginator.next_page }}" class="next">Next</a-->
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Older</a>
  {% else %}    <span class="next">Older</span>  
  {% endif %}
  
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <hr>
</div>
{% endif %}

<!-- This loops through the paginated posts -->
  <ul class="list-of-posts">
{% for post in paginator.posts %}
{% unless post.category == "review"%}
<li>
    <span class="index-post-date">{{ post.date | date_to_string }}</span> &raquo;  
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
</li>
{% endunless %}
{% endfor %}
 </ul>
 
<h2>Review</h2>
<ul class="list-of-posts">
{% for post in paginator.posts %}
{% if post.category == "review"%}
<li>
    <span class="index-post-date">{{ post.date | date_to_string }}</span> &raquo;  
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
</li>
{% endif %}
{% endfor %}
 </ul>

