---
layout: default
title: CCGA for vibration based damage detection in truss structures
---

<div id="home">
  <h1>Blog Posts</h1>
  {% for post in site.posts %}{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentyear != year %}{% unless forloop.first %}</ul>{% endunless %}
      <h2>{{ currentyear }}</h2>
      <ul>{% capture year %}{{currentyear}}{% endcapture %}{% endif %}
    <li><span class="index-post-date">{{ post.date | date_to_string }}</span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}</ul>
  <h2>Results</h2>
  <h3>2D truss</h3>
  <ul>
    <li>Case 1: 11 bars structure, undamaged (Rao, 2004)</li>
    <li>Case 2: 11 bars structure, damaged (Rao, 2004)</li>
    <li>Case 3: 11 bars structure, damaged (Rao, 2004)</li>
  </ul>
  <h3>3D truss</h3>
  <ul>
    <li><a href="http://vireax.github.io/vibration/truss36bars/">36 bars truss, undamaged</a></li>
    <li>damaged</li>
    <li>damaged</li>
  </ul>
</div>
