<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p class="header">{{ site.name }}</p>
        <ul>
          <li><a class="buttons github" href="{{ site.baseurl }}">Home</a></li>
          <li><a class="buttons github" href="{{ site.baseurl }}/about.html">About</a></li>
          <li><a class="buttons github" href="{{ site.baseurl }}/faq.html">FAQ</a></li>
        </ul>
      
        <!--p class="header">This project is maintained by <a class="header name" href="https://github.com/Vireax">Vireax</a></p-->

      </header>
      
      <section>
      {{ content }}
      </section>
      
      <footer>
        <!--p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p-->
        <p><small>Chapter: 
        <a href="{{ site.baseurl }}/ch1.html">1</a> - 
        <a href="{{ site.baseurl }}/ch2.html">2</a> - 
        <a href="{{ site.baseurl }}/ch3.html">3</a> - 
        <a href="{{ site.baseurl }}/ch4.html">4</a> - 
        <a href="{{ site.baseurl }}/ch5.html">5</a></small></p>
        <p><small>Maintained by <a href="https://github.com/vireax/vibration">vireax</a></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>		
  </body>
</html>
